html {
    /* font-size: 62.5%; */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.banner{
    background-image: url(/img/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
}